node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

off-chain/target
.env

off-chain/.env

.DS_STORE
.vscode
**/contracts_config.json

off-chain/bridge/target
