node_modules
.env

# Hardhat files
/cache
/artifacts

# ZKSync Hardhat plugin  files
/cache_forge
/carch-zk
/artifacts-zk

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

off-chain/target
.env

off-chain/.env

.DS_STORE
.vscode
**/contracts_config.json

off-chain/bridge/target
off-chain/zknft/node_modules
off-chain/zknft-mailbox/node_modules

contracts/deployments-zk

out

deployment.log
forge_output*.txt
tmp*.json
zkout
